/**/build
/**/.venv
*.elf
*.out
*.bin
*.o
/**/keys
/**/__pycache__

# Exclude everything except these folders in root
/*
!/.devcontainer
!/.dockerignore
!/.github
!/.gitignore
!/.pre-commit-config.yaml
!/common
!/config.mk
!/Cargo.lock
!/Cargo.toml
!/docs
!/Dockerfile
!/guests
!/LICENSE
!/Makefile
!/MULTIPLE_TSMS.md
!/README.md
!/SETUP.md
!/DEBUG.md
!/platform
!/requirements.txt
!/rust-toolchain.toml
!/scripts
!/shadowfax
!/test
!/tsm
!/video
