/**/build
/**/.venv
*.elf
*.bin
*.o


# Added by cargo

/target
payload/tsm/target/

# Exclude everything except these folders in root
/*
!/.cargo
!/.github
!/.gitignore
!/.devcontainer
!/.dockerignore
!/.pre-commit-config.yaml
!/docs
!/payload
!/README.md
!/payload
!/platform
!/src
!/scripts
!/Dockerfile
!/Cargo.lock
!/Cargo.toml
!/LICENSE
!/Dockerfile
!/build.rs
!/requirements.txt
!/rust-toolchain.toml
!/wrapper.h
!/environment.sh
