[submodule "shadowfax/opensbi"]
	path = shadowfax/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "guests/coremark"]
	path = guests/coremark
	url = https://github.com/eembc/coremark.git
