[submodule "shadowfax/opensbi"]
	path = shadowfax/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "guests/linux/rv8-bench"]
	path = guests/linux/rv8-bench
	url = https://github.com/larkmjc/rv8-bench.git
